/*@import './basicElements.css';*/
:root {
  --background-main: #121212;
  --background-sub: #2a2a2a;

  --text-normal: #ccc;
  --text-highlight: #fff;

  --primary: #0078f2;
  --primary-hover: #007dfc;
  --primary-color-light: #468;
  --primary-text: #e7e7e7;
  --success-color-light: #fcfefc;
  --warning-color-light: #fffefd;
  --danger-color-light: #FEF3F3;

  --default-font-size: 14px;

  background-color: #f3f3f3;
}
